.grid-container {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: 15rem, repeat(11, 1fr);
	grid-template-columns: repeat(12, 1fr);
	margin: var(--m-0) var(--margin-auto);
}

.grid-container .header {
	width: 100%;
}

.grid-container .main {
	grid-column: 1/13;
	width: 100%;
	min-height: 100vh;
	max-height: max-content;
	overflow: visible;
}

.background-image-container {
	width: 100%;
	height: 70vh;
	background-color: var(--primary-color-dark);
	border-radius: var(--br-2);
}

.banner {
	width: 100%;
	height: 100%;
	border-radius: var(--br-2);
	opacity: 0.8;
}

.slide-active {
	display: block;
}
.slide-inactive {
	display: none;
}

.banner-dot {
	font-size: 1.4rem;
	color: var(--secondary-color);
	position: relative;
	top: -5rem;
}
.active-dot {
	color: var(--secondary-background-color-light);
}

.banner-nav-btn-container {
	font-size: 2.5rem;
	color: var(--secondary-background-color-light);
	position: relative;
	top: -38vh;
	margin: 0 calc(3 * var(--m-5));
}

.rui-main--heading-container,
.rui-main--sub-heading {
	padding: var(--p-0);
	margin: var(--m-0);
	border-bottom: var(--b-0);
}

.focused > .textbox-label {
	background: var(--secondary-background-color);
}

.switch {
	position: relative;
	display: inline-block;
	width: 5rem;
	height: 2rem;
}

.slider:before {
	position: absolute;
	content: "";
	height: 1.8rem;
	width: 1.8rem;
	left: 0.1rem;
	bottom: 0.1rem;
	background-color: var(--secondary-background-color);
	border-radius: var(--br-circle);
	transition: 0.5s;
}

input:checked + .slider::before {
	transform: translateX(3rem);
}

.horizontal-tabs-content {
	display: block;
}

.vertical-tabs-content {
	display: block;
}

.nav-container {
	padding: var(--p-0);
	z-index: var(--max-z-index);
}

.nav-background {
	height: 100%;
	grid-column: 1/13;
	grid-row: 1/13;
	background-color: var(--tertiary-color);
	opacity: 0.5;
}

.nav-content {
	height: 100%;
	grid-column: 1/6;
	grid-row: 1/13;
}

.grid-container .nav-container {
	grid-column: 1/13;
	grid-row: 1/13;
}

.modal {
	padding: var(--p-0);
	z-index: var(--max-z-index);
}
.modal-background {
	width: 100%;
	height: 100%;
	grid-column: 1/13;
	grid-row: 1/13;
	background-color: var(--tertiary-color);
	opacity: 0.5;
	z-index: 8;
}
.modal-content {
	position: absolute;
	z-index: var(--max-z-index);
}

.grid-container .modal {
	grid-column: 1/13;
	grid-row: 1/13;
}

.icons {
	font-size: 2rem;
}

.circle-container:hover {
	background: var(--cta-color);
	color: var(--tertiary-color);
	border: 0.1rem solid var(--tertiary-color);
}

.icon-selected {
	background: var(--cta-color);
	color: var(--tertiary-color);
	border: 0.1rem solid var(--tertiary-color);
}

.color-selected {
	border: 0.3rem solid var(--tertiary-color);
}

.empty-title-container {
	background-color: var(--primary-color);
	width: 20rem;
}

.empty-habit-container {
	width: 30rem;
}

.date-input-container {
	border: 0;
	background: var(--secondary-background-color);
	color: var(--cta-color);
	font-family: inherit;
	font-size: 1.4rem;
}
.area-btn-container {
	display: none;
}

.area-dismiss-container {
	display: none;
}

.h-max-content {
	height: max-content;
}
@media screen and (max-width: 1180px) {
	.header-nav-icon {
		display: none;
	}
}
.header-theme-small-icon {
	display: none;
}

@media screen and (max-width: 870px) {
	.basic-card {
		margin: var(--m-2);
	}
}
@media screen and (max-width: 768px) {
	.header-nav-icon {
		display: block;
	}
	.header-nav-icons {
		display: none;
	}
	.grid-container .nav {
		height: 100%;
		width: 22rem;
		grid-column: 1/6;
		grid-row: 1/13;
		overflow: hidden;
		background: var(--primary-color);
		z-index: var(--max-z-index);
		visibility: visible;
	}
	.category-container {
		grid-column: 1/13;
		grid-row: 1/13;
		width: 100%;
		height: 120%;
		overflow: hidden;
		top: 0;
		left: 0;
		bottom: 0;
		position: absolute;
		background: var(--secondary-background-color);
		z-index: var(--max-z-index);
	}
	.area-btn-container {
		display: block;
		position: fixed;
		width: 100%;
		bottom: 0;
		background: var(--secondary-background-color);
		z-index: var(--max-z-index);
	}

	.area-dismiss-container {
		display: block;
	}
	.habits-container {
		width: 100%;
	}
}
@media screen and (max-width: 400px) {
	.header-them-icons {
		display: none;
	}
	.header-theme-small-icon {
		display: block;
	}
}

@media screen and (max-width: 480px) {
	.grid-container .header {
		overflow: visible;
	}
}

@media screen and (max-width: 650px) {
	.input-form .input-container {
		margin: var(--m-5);
	}
	.habits-detail-container {
		width: 100%;
	}
}
