.project-card-image {
	width: 30rem;
	height: auto;
}

.project-card-image-container {
	width: max-content;
	height: max-content;
}

.card-content {
	grid-row: 2/6;
}

.primary-btn {
	color: var(--tertiary-color);
}

.basic-card {
	width: 32rem;
}

.project-card {
	height: 45rem;
}

.border-bottom {
	border-bottom: 0.3rem solid var(--secondary-background-color);
}

.text-shadow {
	text-shadow: 0.2rem 0.2rem var(--shadow-color);
}

.card-info-container {
	height: 28rem;
}

.h-100 {
	height: 100%;
}

.box-shadow {
	-webkit-box-shadow: 0 0.4rem 0.3rem -0.2rem var(--shadow-color);
	-moz-box-shadow: 0 0.4rem 0.3rem -0.2rem var(--shadow-color);
	box-shadow: 0 0.4rem 0.3rem -0.2rem var(--shadow-color);
}

.outline-none {
	outline: none;
	border: 0;
	background-color: var(--primary-color);
}

.date-container {
	width: 20%;
}

.info-container {
	width: 78%;
}

@media screen and (max-width: 1024px) {
	.info-container {
		width: 100%;
	}
	.date-container {
		width: 100%;
	}
}
