.social {
	font-size: 1.7rem;
}

.brand-logo {
	width: 4.5rem;
	height: 4rem;
}

.main .svg .left {
	left: 0;
}
.main {
	position: relative;
}
.main .svg {
	position: absolute;
	bottom: 0;
	width: 80rem;
	height: 80rem;
	opacity: 0.7;
}

.svg path:nth-of-type(1) {
	fill: var(--secondary-background-color);
}

.social {
	font-size: 2.2rem;
}

.connect-container .social {
	font-size: 3rem;
}

.image-container .round-image {
	width: 25rem;
	height: 25rem;
}

.home-container {
	align-items: start;
}
@media screen and (max-width: 1875px) {
	.main .svg {
		width: 70rem;
		height: 70rem;
	}
}
@media screen and (max-width: 1550px) {
	.main .svg {
		width: 45rem;
		height: 45rem;
	}
}
@media screen and (max-width: 1180px) {
	.main .svg {
		width: 35rem;
		height: 35rem;
	}
}

@media screen and (max-width: 900px) {
	.main .svg {
		width: 30rem;
		height: 30rem;
	}
}
@media screen and (max-width: 800px) {
	.main .svg {
		display: none;
	}
	.home-container {
		align-items: center;
	}
}
